  <div class="nested-fields cd_new_disc">
    <div class="form-group">
      <%= f.number_field :number, label: "Discナンバー", class: "number_box" %>
      <div id="links" class= "disc_btn" >
        <%= link_to_remove_association "ディスク削除", f %>
      </div>
    </div>

    <div class="songs">
      <%= f.fields_for :songs do |song| %>
        <%= render 'song_fields', f: song %>
      <%end%>
      <div class="links disc_btn">
        <%= link_to_add_association "曲追加", f, :songs %>
      </div>
    </div>
  </div>