<div class="nested-fields well well-compact">
  <div class="form-group">
    <%= f.label :ディスクナンバー %><br>
    <%= f.number_field :number, class: "col-xs-12" %><br>
    <%= link_to_remove_association "ディスク削除", f, class: "col-xs-12" %>
  </div>

  <div class="songs">
    <%= f.fields_for :songs do |song| %>
      <%= render 'song_fields', f: song %>
    <%end%>
    <div class="links">
      <%= link_to_add_association "add song", f, :songs %>
    </div>
  </div>
</div>
