<%= form_for @cd do |f| %>
    <div class="field row">
      <%= f.label :アーティスト名 %><br>
      <%= f.number_field :artist_id, class: "col-xs-12" %>
    </div>

    <div class="field row">
      <label>ジャケット</label><br>
      <%= f.attachment_field :image, placeholder: "ジャケット写真", class: "col-xs-12" %>
    </div>

    <div class="field row">
      <%= f.label :タイトル %><br>
      <%= f.text_field :title, class: "col-xs-12" %>
    </div>

    <div class="field row">
      <%= f.label :値段 %><br>
      <%= f.text_area :price, class: "col-xs-12" %>
    </div>

    <div class="field row">
      <%= f.label :ジャンル %><br>
      <%= f.text_area :genre, class: "col-xs-12" %>
    </div>

    <div class="field row">
      <%= f.label :在庫 %><br>
      <%= f.text_area :stock, class: "col-xs-12" %>
    </div>

    <div class="field row">
      <%= f.label :リリース日 %><br>
      <%= f.text_area :release, class: "col-xs-12" %>
    </div>


  <h3>Disk</h3>
  <div id="discs">
    <%= f.fields_for :discs do |disc| %>
      <%= render 'disc_fields', f: disc %>
    <% end %>
    <div id="links">

      <%= link_to_add_association 'add disc',f, :discs %>
    </div>
    <div class="actions row">
          <%= f.submit ' 追加 ', class: "btn col-xs-12"%>
    </div>
  </div>
<% end %>
