<div class="container">
  <div class="row">
    <div class="col-xs-12">  
      <h3 class="cd_index_title">Products</h3>
      <div class="cd_index clearfix">
      	<div class="searchbox">
      	  <div id="nav-search">
    		<%= form_tag cd_search_path, :method => 'get' do %>
    		  <p>
    		    <%= text_field_tag :search, params[:search], class:"search_form" %>
    		    <%= submit_tag "Search", :name => nil, class:"search_btn" %>
    		  </p>
    		<% end %>
    	  </div>
        </div>

    	<% @cds.each do |cd| %>
    	  <div class="cd_jaket_box">
    	   <%= link_to cd_path(cd) do %>
            <%= attachment_image_tag cd, :image, format: 'jpeg', class: "cd_jaket_index", fallback: "no_image.png", alt: "No image" %>
            <div class="mask">
           	 <div class="caption">
              <p class="cd_index_artist_name"><%= cd.artist.name %></p>
              <p class="cd_index_cd_title"><%= cd.title %></p>
             </div>
            </div>
        </div>
         <% end %>
      <% end %>
      </div>
    </div>
  </div>
</div>
