<div class="container cd_show">
  <div class="row c_s_info">
    <div class="col-xs-5">
      <%= attachment_image_tag @cd, :image,  format: 'jpeg', fallback: "no_image.png", alt: "No image", size: '400x400', class: 'cd_show_image' %>
    </div>

    <div class="row">
      <div class="col-xs-6">
       <h2 class="cd_show_texit"><%= @cd.title %></h2>
　　　  <table class="table table-inverse cd_show_texit">
           <tr>
             <th>Ａｒｔｉｓｔ</th>
             <td>
              <%= link_to artist_path(@cd.artist.id) do %>
                <%= @cd.artist.name %>
              <% end %>
             </td>
           </tr>
           <tr>
             <th>Ｇｅｎｒｅ</th>
             <td><%= @cd.genre %></td>
           </tr>
           <tr>
             <th>Ｒｅｌｅａｓｅ</th>
             <td><%= @cd.release %></td>
           </tr>
           <tr>
            <th>Ｐｒｉｃｅ</th>
            <td>￥<%= @cd.price %></td>
          </tr>
        </table>
        <div class="cart_btn">
              <% if @cd.stock > 0 %>
              <% else %>
                <h5>在庫がありません</h5>
              <% end %>
              <% if user_signed_in? %>
                <% if @cd.stock > 0 %>
                  <%= button_to 'カートに入れる', cartitem_create_path(cd_id: @cd),class: 'fbtn cd_btn' %>
                <% else %>
                <% end %>
              <% else %>
              <% end %>
          </div>

      </div>
    </div>
  </div>

  <div class="row songlist">
      <div class="col-xs-12">
        <h5 class="cd_show_texit">Song list</h5>
        <table class="table table-inverse table_cd">
         <% @cd.discs.each do |disc| %>
           <tr class="song_table">
            <th>
              Disc <%= disc.number %>

            </th>
           </tr>
            <% disc.songs.each do |song| %>
           <tr>
             <td>
              <%= song.name %>
             </td>
           </tr>
            <% end %>
          <% end %>
        </table>
      </div>
  </div>
</div>

