<div class="container">
  <div class="row">
    <div class="col-xs-5">

      <%= attachment_image_tag @cd, :image,  format: 'jpeg', fallback: "no_image.png", alt: "No image", size: '300x300' %>
    </div>
    <div class="row">
      <div class="col-xs-6">
       <h1><%= @cd.title %></h1>
　　　  <table class="table table-hover table-inverse">
           <tr>
             <th>アーティスト</th>
             <td>
              <%= link_to artist_path(@cd.artist.id) do %>
                <%= @cd.artist.name %>
              <% end %>
             </td>
           </tr>
           <tr>
             <th>ジャンル</th>
             <td><%= @cd.genre %></td>
           </tr>
           <tr>
             <th>価格</th>
             <td>￥<%= @cd.price %></td>
           </tr>
           <tr>
             <th>在庫</th>
             <td><%= @cd.stock %>枚</td>
           </tr>
           <tr>
             <th>リリース日</th>
             <td><%= @cd.release %></td>
           </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="row cd_show">
      <div class="col-xs-6">
        <table class="table table-hover table-inverse">
          <tr>
            <th>価格</th>
            <td>￥<%= @cd.price %></td>
          </tr>
          <tr>
            <th>在庫</th>
            <td><%= @cd.stock %>枚</td>
          </tr>
        </table>
      </div>


      <div class="col-xs-4">
          <%= button_to 'カートに入れる', cartitems_path(cd_id: @cd),class: 'fbtn' %>
      </div>


  </div>
  <div class="row">
    <div class="col-xs-8">
      <h4>曲リスト</h4>
      <table class="table table-hover table-inverse">
        <th>
          <% @cd.discs.each do |disc| %>
            Disc<%= disc.number %>
        </th>
            <div class="row">
              <div class="col-xs-8">
                <th>
                  <% disc.songs.each do |song| %>
                    <%= song.name %><br>
                  <% end %>
                </th>
              </div>
            </div>
        <% end %>
      </table>
    </div>
  </div>
</div>