
<div class="main-visual">
    <div class="main-title">
        <div class="logo"></div>
        <!-- <h2 class="main-visual-text">Who your favorite artists?</h2> -->
    </div>
    <div id="about" class="about">
        <div class="about-contents">
            <h2 class="about-title">About</h3>
            <p class="about-text">
                ToFuレコーズは、インディーズバンド専門のCD通販サイトです。<br>
                好きなアーティストを登録することで、<br>
                マイページからあなたのお気に入りアーティストの最新情報をいつでもチェックできます。
            </p>
            <%= link_to new_user_registration_path do %>
                <button type="button" class="btn btn-default">Sign Up</button>
            <% end %>
        </div>
    </div>
</div>

<div class="new-items">
    <div class="new-items-container">
        <h3 class="new-items-title">New Items</h3>
        <div class="new-items-row clearfix">
            <% @cds.each do |cd| %>
                <%= link_to cd_path(cd.id) do %>
                    <div class="new-items-box">
                        <%= attachment_image_tag cd, :image, format: 'jpeg', class: "new-items-image", fallback: "no_image.png", alt: "No image" %>
                        <div class="new-items-text">
                            <h4 class="artist-name"><%= cd.artist.name %></h4>
                            <p class="cd-name"><%= cd.title %></p>
                        </div>
                    </div>
                <% end %>
            <% end %>
        </div>
    </div>
</div>

<div class="top-artists">
    <div class="top-artists-container clearfix">
        <h3 class="top-artists-title">Top Artists</h3>
        <% @artists.each do |artist| %>
        <div class="">
            <%= link_to artist_path(artist.id) do %>
                <%= attachment_image_tag artist, :image, format: 'jpeg', class: "top-artists-box", fallback: "no_image.png", alt: "No image" %>
            <% end %>
        </div>
        <% end %>
    </div>
    <%= link_to artists_path do %>
        <button type="button" class="btn btn-default">View More</button>
    <% end %>
</div>

