<h3>Artists Index</h3>
<section class="artist-search">
	<div class="a-s-form">
		<%= form_tag cd_search_path, :method => 'get' do %>
		<p>
		    <%= text_field_tag :search, params[:search] %>
		    <%= submit_tag "Search", :name => nil %>
	    </p>
		<% end %>
	</div>
</section>
<section class="artist-index">
	<div class="a-i-container clearfix">
		<% @artists.each do |artist| %>
		<div class="a-i-box">
			<%= link_to artist_path(artist.id) do %>
				<%= attachment_image_tag artist, :image, class: "a-i-image" %>
				<div class="mask">
		       	 <div class="caption">
		          <p class="a-i-name"><%= artist.name %></p>
		         </div>
		        </div>
		</div>
			<% end %>
		<% end %>
	</div>
	<div class="pagination">
        <p><<</p>
        <p><</p>
        <p>1</p>
        <p>2</p>
        <p>3</p>
        <p>></p>
        <p>>></p>
	</div>
</section>




