

<div class="artist-main-image-section">

    <div>
      <% if notice %>
       <p id="notice"><%= notice %></p>
      <% end %>
    </div>

	<%= attachment_image_tag @artist, :image, class:"artist-main-image" %>
	<div class="a-m-i-container">
		<h1 class="a-main-image-section-artist-name"><%= @artist.name %>
			<% if user_signed_in? %>
				<% if Favorite.exists?(user_id: current_user.id, artist_id: @artist.id) %>
				<%= link_to artist_favorite_path(@artist), method: :delete do %>
			      <div class="heart icon">
			      	<i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
					<p>お気に入り</p>
			      </div>
			    <% end %>
				<% else %>
				<%= link_to artist_favorites_path(@artist), method: :post do %>
			      <div class="heart icon">
			      	<i class="fa fa-heart-o" aria-hidden="true"style="color: white;"></i>
					<p>お気に入り</p>
			      </div>
			    <% end %>
				<% end %>
			<% else %>
				<%= link_to new_user_session_path do %>
					<div class="heart icon">
				      	<i class="fa fa-heart-o" aria-hidden="true"style="color: white;"></i>
						<p>お気に入り</p>
				    </div>
			    <% end %>
			<% end %>
		</h1>
	</div>
		<!-- <i class="far fa-heart"></i> -->
</div>
<div class="artist-intro-section">
	<div class="a-intro-container clearfix">
		<div class="a-image-wrap">
			<div class="a-image-box">
				<%= attachment_image_tag @artist, :image, class:"artist-sub-image" %>
			</div>
		</div>
		<div class="a-intro-text">
			<i><h4><strong><%= @artist.copy %></strong></h4></i>
			<p><%= @artist.intro %></p>
			<div class="sub_info">
				<i>
					<p class="artist_label"><%= @artist.label %></p>
					<p class="artist_hp">公式サイト：<%= link_to  @artist.hp, @artist.hp, class:"artist_hp", :target=>["_blank"] %></p>
				</i>
			</div>
		</div>
	</div>
</div>
<div class="artist-contents-section">
	<div class="a-contents-container clearfix">
		<div class="a-twitter">
			<h3>Twitter</h3>
			<div class="a-twitter-box">
				<%= sanitize(@artist.twitter_code) %>
				<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
			</div>
		</div>
		<div class="a-cd-index clearfix">
			<h3>CD</h3>
			<% @cds.each do |cd| %>
				<div class="cd-container">
					<div class="cd-box">
					<%= link_to cd_path(cd.id) do %>
						<%= attachment_image_tag cd, :image, class:"cd-jacket-image" %>
					<% end %>
						<div class="cd-info">
							<h4 class="cd-name"><%= cd.title %></h4>
							<p class="cd-price">¥<%= cd.price %></p>
              				<%= link_to '', cartitem_create_path(cd_id: cd.id), method: :post, class: "i fas fa-cart-arrow-down" %>
						</div>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>
<% if user_signed_in? %>
	<% if current_user.admin? %>
		<div class="artist-show-edit">
			<button type="button" class="btn btn-default"><%= link_to "編集", edit_admin_artist_path(@artist.id) %></button>
			<button type="button" class="btn btn-default"><%= link_to "削除", admin_artist_path(@artist.id), method: :delete %></button>
		</div>
<% end %>
<% end %>
