
<div class="artist-main-image-section">
	<%= attachment_image_tag @artist, :image, class:"artist-main-image" %>
		<h1 class="a-main-image-section-artist-name"><%= @artist.name %></h1>
<!-- 		<%# if @artist.favorited_by?(current_user) %>
		    <%#= link_to user_favorites_path(@artist), method: :delete do %>
		      	<i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
		      	<%= @artist.favorites.count %> いいね
		    <%# end %>
		<%# else %>
		    <%#= link_to user_favorites_path(@artist), method: :post do %>
		      <i class="fa fa-heart-o" aria-hidden="true"></i>
		      <%= @artist.favorites.count %> いいね
		    <%# end %>
		<%# end %> -->
		<i class="far fa-heart"></i>
</div>
<div class="artist-intro-section">
	<div class="a-intro-container clearfix">
		<div class="a-image-wrap">
			<div class="a-image-box">
				<%= attachment_image_tag @artist, :image, class:"artist-sub-image" %>
			</div>
		</div>
		<div class="a-intro-text">
			<h4><%= @artist.copy %></h4>
			<p><%= @artist.intro %></p>
			<p class="artist_label"><%= @artist.label %></p>
			<p class="artist_hp"><%= @artist.hp %></p>
		</div>
	</div>
</div>
<div class="artist-contents-section">
	<div class="a-contents-container clearfix">
		<div class="a-twitter">
			<p class="artist_twitter"><%= @artist.twitter %>ここにツイッターが表示されます</p>
		</div>
		<div class="a-cd-index clearfix">
			<div class="cd-container">
				<div class="cd-box">
					<div class="cd-jacket-image"></div>
					<div class="cd-info">
						<p class="cd-name">CD NAME</p>
						<p class="cd-price">¥####</p>
						<p><i class="fas fa-cart-arrow-down"></i></p>
					</div>
				</div>
			</div>
			<div class="pagination">
		        <p><<</p>
		        <p><</p>
		        <p>1</p>
		        <p>2</p>
		        <p>3</p>
		        <p>></p>
		        <p>>></p>
		    </div>
		</div>
	</div>
</div>

<div class="artist-show-edit">
	<button type="button" class="btn btn-default"><%= link_to "編集", edit_admin_artist_path(@artist.id) %></button>
	<button type="button" class="btn btn-default"><%= link_to "削除", admin_artist_path(@artist.id), method: :delete %></button>
</div>
