<h3>新規アーティスト登録</h3>

<div class="form_artist_new">
    <%= bootstrap_form_for(@artist, url: admin_artists_path, method: :post) do |f| %>
        <%= f.text_field :name, label: "アーティスト名" %>
        <%= f.text_field :label, label: "レーベル名" %>
        <%= f.text_field :copy, label: "キャッチコピー" %>
        <%= f.text_area :intro, label: "紹介文" %>
        <%= f.text_field :hp, label: "公式サイトのURL" %>
        <%= f.text_field :twitter_code, label: "ツイッター埋め込みコード" %>
        <%= f.attachment_field :image %>
        <%= f.submit '保存' %>
    <% end %>
</div>