<div class="new-items">
    <div class="new-items-container clearfix">
        <h3 class="new-items-title">購入履歴</h3>
        <% @boughts.each do |b| %>
        <div class="new-items-row clearfix bought_box">
        	<div class="bought_image"><%= b.status_i18n %></div>
        	<div class="bought_image">総計<%= b.total_price %>円</div>
            <div><%= b.created_at.strftime('%Y/%m/%d') %></div>
            <div class="new-items-box">
                <div>
                	<div>
                	  <% b.boughtitems.each do |item| %>
                		<div class="bought_image">
                		  <%= attachment_image_tag item.cd, :image, size: '150x150', format: 'jpeg', class: "", fallback: "no_image.png", alt: "No image" %>
                		</div>
                		<div>
                		  <h5><%= item.cd.artist.name %></h5>
                		</div>
                		<div>
                		  <%= item.cd.title %>
                		</div>
                		<div>
                		  <%= item.quantity %>
                		</div>
                		<div>
                		  <%= item.subtotal %>
                		</div>
                	  <% end %>
                	</div>
                </div><br><br><br><br><br>
                <div class="bought_image"><%= b.name %></div>
                <div class="bought_image"><%= b.address %></div>
            </div>
        </div>
        <% end %>
    </div>
</div>

