<div class="container bought">
  <div>
    <% if notice %>
    <p id="notice"><%= notice %></p>
    <% end %>
  </div>

  <div>
    <h3>Purchase History<br>
      <div class= "i fas fa-shopping-cart bought_icon"></div>
    </h3>
  </div>
  <div class="bought_scroll">
    <% @boughts.each do |b| %>
    <div class="bought_box clearfix">
      <table class="table table-striped">
        <thead>
         <tr>
           <th>注文日</th>
           <th>発送状況</th>
           <th>お名前</th>
           <th>総計</th>
         </tr>
        </thead>
        <tbody>
           <tr>
            <td><%= b.created_at.strftime('%Y/%m/%d') %></td>
        	<td><%= b.status_i18n %></td>
            <td><%= b.name %></td>
            <td><%= b.total_price %>円</td>
          </tr>
        </tbody>
      </table>

	 <% b.boughtitems.each do |item| %>
      <div class="bought_item clearfix">
		<div class="bought_jaket">
		  <%= attachment_image_tag item.cd, :image, size: '200x200', format: 'jpeg', class: "", fallback: "no_image.png", alt: "No image" %>
		</div>
        <div class="bought_cds">
    		<div><font size="4"><%= item.cd.artist.name %></font></div>
    		<div><font size="4"><%= item.cd.title %></font></div>
    		<div><font size="4"><%= item.quantity %></font></div>
    		<div><font size="4"><%= item.subtotal %></font></div>
        </div>
     </div>
	 <% end %>
    </div>
    <% end %>
  </div>
</div>

