
<div class="container cart">
  <div>
    <% if notice %>
    <p id="notice"><%= notice %></p>
    <% end %>
  </div>

  <div>
    <h3>Ｃａｒｔ<br>
      <div class= "i fas fa-shopping-cart cart_icon"></div>
    </h3>
  </div>

   <div class="cart_btn_box clearfix">
    <div class="btn_box clearfix">
      <div class="cart_btn2">
        <%= button_to '買い物を続ける', cds_path, method: :get, class: 'fbtn' %>
      </div>
      <div class="cart_btn1">
        <%= button_to 'カートを空にする', @cart, method: :delete, data: {confirm: 'カートを空にして本当によろしいですか？'}, class: 'fbtn' %>
      </div>
    </div>
   </div>

   <div class="cart_box clearfix">

      <div class="cart_price">
        <font size="5">総計：<%= (@cart.total_price).to_i %>円</font>
      </div>

      <% @cart.cartitems.each do |item| %>
    		<div class="cart_item clearfix">

    			<div class="cart_jaket">
    				<%= attachment_image_tag item.cd, :image,  format: 'jpeg', fallback: "no_image.png", alt: "No image", size: '200x200' %>
    			</div>

    			<div class="cart_cds">

            <div><font size="4"><%= item.cd.artist.name %></font></div>
            <div><font size="4"><%= item.cd.title %></font></div>
            <div><font size="4"><%= (item.cd.price).to_i %>円</font></div>
    				<div>
    				  <%= form_for([@cart, item]) do |item| %>
    					  <%= item.number_field :quantity, class: "cart_quantity" %>
                          <%= item.submit "更新" %>
    				  <% end %>
    				</div>
            <div class="clearfix">
    				  <font size="4"><%= (item.total_price).to_i %>円</font>
              <%= button_to '削除', cart_cartitem_path(@cart, item), method: :delete,class: 'fbtn' %>
            </div>
    		  </div>
        </div>
      <% end %>
   </div>

    <br>
  <div class="cart_ship">
    <h2 class="ship_title">お届け先</h2>

     <%= form_for(@bought, :url => {:controller => :carts, :action => :create}, :html => { :method => :post }) do |f| %>

    <table class="table table-hover table-inverse">
      <div class="form-group container">
        <div class="field row col-xs-4">
           <tr>
            <th>お届け先選択</th>
            <td>
              <%= f.radio_button :ship, :home, checked: "checked" %>
              <%= f.label :自宅, class: "ship_label" %>
              <%= f.radio_button :ship, :new %>
              <%= f.label :新しいお届け先, class: "ship_label" %>
              <% if @ship_last.present?%>
               <%= f.radio_button :ship, :registered1 %>
               <%= f.label :最近配送した住所, class: "ship_label" %>
              <% else %>
              <% end %>
            </td>
           </tr>
        </div>
      </div>
    </table>

    <table class="table table-hover table-inverse">
　　　　　　<!-- 新規お届け先 -->
      <div class="form-group container">
        <div class="field row col-xs-12">
           <tr class="ship ship02">
            <th><%= f.label :名前 %></th>
            <td><%= f.text_field :name, :placeholder => "大内　誠" %></td>
           </tr>

           <tr class="ship ship02">
            <th><%= f.label :カナ %></th>
            <td><%= f.text_field :kana, :placeholder => "オオウチ　マコト" %></td>
           </tr>

           <tr class="ship ship02">
            <th><%= f.label :郵便番号 %></th>
            <td>
              <input type="text" name="bought[post]" id="bought_post" size="10" maxlength="8" placeholder="2600852" onKeyUp="AjaxZip3.zip2addr(this,'','bought[address]','bought[address]');">
            </td>
           </tr>

           <tr class="ship ship02">
            <th><%= f.label :住所 %></th>
            <td>
              <input type="text" name="bought[address]" id="bught_address" size="40" placeholder="千葉県千葉市中央区青葉町1-10-1マコちゃんハウス">
            </td>
           </tr>

           <tr class="ship ship02">
            <th><%= f.label :電話番号 %></th>
            <td><%= f.text_field :tel, :placeholder => "09011112222" %></td>
           </tr>
        </div>
        <!-- 登録済み住所１ -->
        <% if @ship_last.present?%>
        <div class="field row col-xs-12">
           <tr class="ship ship03">
            <th><%= f.label :名前 %></th>
            <td><%= f.text_field :name, value: @ship_last.name %></td>
           </tr>

           <tr class="ship ship03">
            <th><%= f.label :カナ %></th>
            <td><%= f.text_field :kana, value: @ship_last.kana %></td>
           </tr>

           <tr class="ship ship03">
            <th><%= f.label :郵便番号 %></th>
            <td>
              <%= f.text_field :kana, value: @ship_last.post %>
            </td>
           </tr>

           <tr class="ship ship03">
            <th><%= f.label :住所 %></th>
            <td>
              <%= f.text_field :kana, value: @ship_last.address %>
            </td>
           </tr>

           <tr class="ship ship03">
            <th><%= f.label :電話番号 %></th>
            <td><%= f.text_field :tel, value: @ship_last.tel %></td>
           </tr>
        </div>
        <% else %>
        <% end %>
      </div>
    </table>
  </div>
  	    <div class="create_btn">
  		    <%= button_to '注文をする', carts_path(@cartitem), method: :post, class: 'fbtn' %>
  	    </div>
     <% end %>
</div>

<script src="https://ajaxzip3.github.io/ajaxzip3.js" charset="UTF-8"></script>
<script src="jquery-3.3.1.min.js"></script>
<script src="cart.js"></script>
