
<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
<br>
<h1>MYカート</h1>
<h2>　　　カートに追加された商品</h2>
<br>
    <table class="table table-hover table-inverse">
	      <tr>
          <th><%= button_to 'カートを空にする', @cart, method: :delete, data: {confirm: 'カートを空にして本当によろしいですか？'}, class: 'fbtn' %>
          </th>
          <td>
	        <%= link_to '買い物を続ける', cds_path, :class => 'btn' %>
          </td>
        </tr>
   <% @cart.cartitems.each do |item| %>
      <tr>
        <th></th>
        <th>商品名</th>
        <th>価格</th>
        <th>数量</th>
        <th>合計</th>
        <th></th>
      </tr>
  		<tr>
  			<td text-align:center;>
  				<%= attachment_image_tag item.cd, :image,  format: 'jpeg', fallback: "no_image.png", alt: "No image", size: '100x100' %>
  			</td>
  			<td text-align:center;>
  				<font size="4"><%= item.cd.title %></font>
  			</td>
  			<td text-align:center;>
  				<font size="4"><%= (item.cd.price).to_i %>円</font>
  			</td>
  			<td text-align:center;>
  				<div>
  				  <%= form_for([@cart, item]) do |item| %>
  					  <%= item.number_field :quantity %>
                        <%= item.submit "更新" %>
  				  <% end %>
  				</div>
  			</td>
  			<td text-align:center;>
  				<font size="4"><%= (item.total_price).to_i %>円</font>
  			</td>
  			<td>
          <%= button_to '削除', cart_cartitem_path(@cart, item), method: :delete,class: 'fbtn' %>
  			</td>
  		</tr>
   <% end %>
  		<tr>
  			<th></th>
  			<td colspan="5"><font size="5">総計：<%= (@cart.total_price).to_i %>円</font></td>
  		</tr>
    </table>
    <br>

    <h2>お届け先</h2>

     <%= form_for(@bought, :url => {:controller => :carts, :action => :create}, :html => { :method => :post }) do |f| %>

    <table class="table table-hover table-inverse">
      <div class="form-group container">
        <div class="field row col-xs-4">
           <tr>
            <th>お届け先選択</th>
            <td>
              <%= f.radio_button :ship, :home, checked: "checked" %>
              <%= f.label :自宅, class: "ship_label" %>
              <%= f.radio_button :ship, :new %>
              <%= f.label :新しいお届け先, class: "ship_label" %>
              <%= f.radio_button :ship, :registered1 %>
              <%= f.label :最近配送した住所, class: "ship_label" %>
            </td>
           </tr>
        </div>
      </div>
    </table>

    <table class="table table-hover table-inverse">
      <div class="form-group container">
        <!-- 自宅にお届け -->
        <div class="field row col-xs-12">
           <tr class="ship ship01">
            <th><%= f.label :名前 %></th>
            <td><%= f.text_field :name, value: @user.name %></td>
           </tr>

           <tr class="ship ship01">
            <th><%= f.label :カナ %></th>
            <td><%= f.text_field :kana, value: @user.kana %></td>
           </tr>

           <tr class="ship ship01">
            <th><%= f.label :郵便番号 %></th>
            <td>
        	    <%= f.text_field :kana, value: @user.post %>
            </td>
           </tr>

           <tr class="ship ship01">
            <th><%= f.label :住所 %></th>
            <td>
        	    <%= f.text_field :kana, value: @user.address %>
            </td>
           </tr>

           <tr class="ship ship01">
            <th><%= f.label :電話番号 %></th>
            <td><%= f.text_field :tel, value: @user.tel %></td>
           </tr>
        </div>
      </div>
　　　　　　<!-- 新規お届け先 -->
      <div class="form-group container">
        <div class="field row col-xs-12">
           <tr class="ship ship02">
            <th><%= f.label :名前 %></th>
            <td><%= f.text_field :name %></td>
           </tr>

           <tr class="ship ship02">
            <th><%= f.label :カナ %></th>
            <td><%= f.text_field :kana %></td>
           </tr>

           <tr class="ship ship02">
            <th><%= f.label :郵便番号 %></th>
            <td>
              <input type="text" name="bought[post]" id="bought_post" size="10" maxlength="8" onKeyUp="AjaxZip3.zip2addr(this,'','bought[address]','bought[address]');">
            </td>
           </tr>

           <tr class="ship ship02">
            <th><%= f.label :住所 %></th>
            <td>
              <input type="text" name="bought[address]" id="bught_address" size="40">
            </td>
           </tr>

           <tr class="ship ship02">
            <th><%= f.label :電話番号 %></th>
            <td><%= f.text_field :tel %></td>
           </tr>
        </div>

     </div>
    </table>
    <table class="table table-hover table-inverse">
      <tr>
  	    <th></th>
  	    <td>
  		    <%= button_to '注文をする', carts_path(@cartitem), method: :post, class: 'fbtn' %>
  	    </td>
      </tr>
     <% end %>
    </table>

<script src="jquery-3.3.1.min.js"></script>
<script src="cart.js"></script>
