<!DOCTYPE html>
<html>
  <head>
    <title>Tofu</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" >
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <div class="header-box">
      <% if user_signed_in? %>
        <% if current_user.admin? %>
          <%= link_to admin_path do%>
            <img border="0" src="/assets/header-logo.png" width="35px" height="25px"></img>
          <% end %>
        <% else %>
          <%= link_to root_path do%>
            <img border="0" src="/assets/header-logo.png" width="35px" height="30px"></img>
          <% end %>
        <% end %>
      <% end %>

      <% if user_signed_in? %>
        <p class="user-name">Use Name: <%= link_to current_user.name, user_path(current_user) %></p>
      <% end %>
      <nav>
        <% if user_signed_in? %>
          <% if current_user.admin? %>
            <%= link_to 'CD登録', new_admin_cd_path, class: "i fas fa-music" %>
            <%= link_to 'アーティスト登録', new_admin_artist_path, class: "i far fa-star" %>
            <%= link_to 'ユーザー一覧', admin_users_path, class: "i fas fa-users" %>
            <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "i fas fa-sign-out-alt" %>
          <% else %>
            <%= link_to ' Search', cds_path, class: "i fas fa-search" %>
            <%= link_to ' Favorite', user_favorites_path(current_user), class: "i far fa-heart" %>
            <%= link_to ' Cart', cart_path(current_cart), class: "i fas fa-shopping-cart" %>
            <%= link_to ' LogOut', destroy_user_session_path, method: :delete, class: "i fas fa-sign-out-alt" %>
          <% end %>
        <% else %>
          <%= link_to ' LogIn', new_user_session_path, class: "i fas fa-sign-in-alt" %>
        <% end %>
      </nav>
    </div>
  </header>


  <body>
    <%= yield %>
  </body>

  <footer>
    <div class="ganre">
      <div class="ganre-container">
          <p class="ganre-title">Ganre</p>
          <div class="ganre-box clearfix">
              <div class="ganre-text">
                  <%= link_to "J-pop", cd_search_path(search: 0), class: "ganre-name" %>(<%= Cd.where(genre: 0).count %>)<br>
                  <%= link_to "Rock", cd_search_path(search: 1), class: "ganre-name" %>(<%= Cd.where(genre: 1).count %>)<br>
              </div>
              <div class="ganre-text">
                  <%= link_to "EDM", cd_search_path(search: 2), class: "ganre-name" %>(<%= Cd.where(genre: 2).count %>)<br>
                  <%= link_to "Metal", cd_search_path(search: 3), class: "ganre-name" %>(<%= Cd.where(genre: 3).count %>)<br>
              </div>
              <div class="ganre-text">
                  <%= link_to "Jazz", cd_search_path(search: 4), class: "ganre-name" %>(<%= Cd.where(genre: 4).count %>)<br>
                  <%= link_to "Classic", cd_search_path(search: 5), class: "ganre-name" %>(<%= Cd.where(genre: 5).count %>)<br>
              </div>
              <div class="ganre-text">
                  <%= link_to "Country", cd_search_path(search: 6), class: "ganre-name" %>(<%= Cd.where(genre: 6).count %>)<br>
                  <%= link_to "Rap", cd_search_path(search: 7), class: "ganre-name" %>(<%= Cd.where(genre: 7).count %>)<br>
              </div>
          </div>
      </div>
      <p class="copyright">©️2018 ToFu Records</p>
    </div>
    <div class="footer-containter clearfix">
      <div class="fotter-contents">
        <%= link_to 'ホーム', root_path %>
        <a href="http://localhost:3000/#about">アバウト</a>
        <% if user_signed_in? %>
          <%= link_to 'マイページ', user_favorites_path(current_user) %>
          <%= link_to 'アカウント情報', user_path(current_user) %>
          <%= link_to '購入履歴', user_boughts_path(current_user) %>
          <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to 'ログイン', new_user_session_path %>
        <% end %>
      </div>
      <div class="sorcial">
        <i class="fab fa-twitter-square"></i>
        <i class="fab fa-facebook-square"></i>
        <i class="fab fa-instagram"></i>
      </div>
    </div>
  </footer>
</html>